/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-card {
  flex-basis: calc(100% / 4 - 20px);
}

.info {
  display: flex;
}

img {
  width: 320px;
}

.info-item {
  display: grid;
}

.load-more.is-hidden {
  opacity: 0;
  pointer-events: none;
}
